In [1]:
#подключение библиотеки пандас 
import pandas

In [1]:
#переменная для библиотеки пандас (импортируй библиотеку пандас как pd)
import pandas as pd

Подготовка данных

In [4]:
import pandas as pd

#подготавливаем данные и названия столбцов

city = [
    ['Франция', 'Париж'],
    ['Россия','Москва'],
    ['Китай','Пекин'],
    ['Мексика','Мехико'],
    ['Египет','Каир'],
]

columns = ['country','capital']

#создаем таблицу

world_map = pd.DataFrame(data=city, columns=columns) #создаем таблицу и сохраняем ее в перемнную world

print(world_map) #выводим таблицу на экран

   country capital
0  Франция   Париж
1   Россия  Москва
2    Китай   Пекин
3  Мексика  Мехико
4   Египет    Каир

Получение данных и чтение файла

In [2]:
import pandas as pd
df = pd.read_csv(r"/Users/eugeneinsidious/Downloads/music_project.csv") #аргумент - путь к файлу
print(df)

         userID                              Track            artist  \
0      FFB692EC                  Kamigata To Boots  The Mass Missile
1      55204538        Delayed Because of Accident  Andreas Rönnberg
2        20EC38                  Funiculì funiculà       Mario Lanza
3      A3DD03C9              Dragons in the Sunset        Fire + Ice
4      E2DC1FAE                        Soul People        Space Echo
...         ...                                ...               ...
65074  729CBB09                            My Name            McLean
65075  D08D4A55  Maybe One Day (feat. Black Spade)       Blu & Exile
65076  C5E3A0D5                          Jalopiina               NaN
65077  321D0506                      Freight Train     Chas McDevitt
65078  3A64EF84          Tell Me Sweet Little Lies      Monica Lopez

            genre            City        time        Day
0            rock  Saint-Petersburg  20:28:33  Wednesday
1            rock            Moscow  14:07:09     Friday
2             pop  Saint-Petersburg  20:58:07  Wednesday
3            folk  Saint-Petersburg  08:37:09     Monday
4           dance            Moscow  08:34:34     Monday
...           ...               ...       ...        ...
65074         rnb            Moscow  13:32:28  Wednesday
65075         hip  Saint-Petersburg  10:00:00     Monday
65076  industrial            Moscow  20:09:26     Friday
65077        rock            Moscow  21:43:59     Friday
65078     country            Moscow  21:59:46     Friday

[65079 rows x 7 columns]

In [3]:
import pandas as pd
df = pd.read_csv(r"/Users/eugeneinsidious/Downloads/music_project.csv") #аргумент - путь к файлу
df

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Saint-Petersburg,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Moscow,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Saint-Petersburg,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Saint-Petersburg,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Moscow,08:34:34,Monday
...,...,...,...,...,...,...,...
65074,729CBB09,My Name,McLean,rnb,Moscow,13:32:28,Wednesday
65075,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip,Saint-Petersburg,10:00:00,Monday
65076,C5E3A0D5,Jalopiina,NaN,industrial,Moscow,20:09:26,Friday
65077,321D0506,Freight Train,Chas McDevitt,rock,Moscow,21:43:59,Friday
65078,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Moscow,21:59:46,Friday

Обзор данных

In [26]:
import pandas as pd
df = pd.read_csv(r"/Users/eugeneinsidious/Downloads/music_project.csv") #аргумент - путь к файлу
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Saint-Petersburg,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Moscow,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Saint-Petersburg,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Saint-Petersburg,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Moscow,08:34:34,Monday
5,842029A1,Преданная,IMPERVTOR,rusrap,Saint-Petersburg,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Moscow,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Moscow,20:47:49,Wednesday
8,8FA1D3BE,И вновь продолжается бой,NaN,ruspop,Moscow,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Saint-Petersburg,21:20:49,Wednesday

In [27]:
df.head(15)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Saint-Petersburg,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Moscow,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Saint-Petersburg,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Saint-Petersburg,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Moscow,08:34:34,Monday
5,842029A1,Преданная,IMPERVTOR,rusrap,Saint-Petersburg,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Moscow,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Moscow,20:47:49,Wednesday
8,8FA1D3BE,И вновь продолжается бой,NaN,ruspop,Moscow,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Saint-Petersburg,21:20:49,Wednesday
10,BC5A3A29,Gool la Mita,Shireen Abdul Wahab,world,Moscow,14:08:42,Monday
11,8B5192C0,Is There Anybody Out There? (Panoramic Paralys...,Pink Floyd Floydhead,electronic,Moscow,13:47:49,Monday
12,FF3FD2BD,Мина син генэ кирэк,Ильдар Хакимов,pop,Moscow,09:19:49,Monday
13,CC782B0F,After School Special,Detroit Grand Pubahs,dance,Moscow,20:04:12,Friday
14,94EB25C2,Make Love Whenever You Can,Arabesque,pop,Saint-Petersburg,13:22:08,Wednesday

In [28]:
df.tail(6)

,userID,Track,artist,genre,City,time,Day
65073,83A474E7,I Worship Only What You Bleed,The Black Dahlia Murder,extrememetal,Moscow,21:07:12,Monday
65074,729CBB09,My Name,McLean,rnb,Moscow,13:32:28,Wednesday
65075,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip,Saint-Petersburg,10:00:00,Monday
65076,C5E3A0D5,Jalopiina,NaN,industrial,Moscow,20:09:26,Friday
65077,321D0506,Freight Train,Chas McDevitt,rock,Moscow,21:43:59,Friday
65078,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Moscow,21:59:46,Friday

In [29]:
print(df.dtypes)

  userID    object
Track       object
artist      object
genre       object
  City      object
time        object
Day         object
dtype: object

In [4]:
#названия колонок
print(df.columns)

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

In [31]:
#размер таблицы, первое значение это количество строк, второе - колонок
print(df.shape)

(65079, 7)

о размерах таблицы с данными сообщает атрибут shape, в нем содержится кортеж - особый тип списков.

In [33]:
#получаем количество строк из кортежа 
rows_number = df.shape[0]

#получаем количество столбцов из кортежа 
columns_number = df.shape[1]

print(rows_number)
print(columns_number)

65079
7

Запрос всех атрибутов

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63848 non-null  object
 2   artist    57876 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

In [42]:
movies_table = [
    ['Побег из Шоушенка', 'США', 1994, 'драма', 142, 9.111],
    ['Крёстный отец', 'США', 1972, 'драма, криминал', 175, 8.730],
    ['Тёмный рыцарь', 'США', 2008, 'фантастика, боевик, триллер', 152, 8.499],
    ['Список Шиндлера', 'США', 1993, 'драма', 195, 8.818],
    ['Властелин колец: Возвращение Короля', 'Новая Зеландия', 2003, 'фэнтези, приключения, драма', 201, 8.625],
    ['Криминальное чтиво', 'США', 1994, 'триллер, комедия, криминал', 154, 8.619],
    ['Хороший, плохой, злой', 'Италия', 1966, 'вестерн', 178, 8.521],
    ['Бойцовский клуб', 'США', 1999, 'триллер, драма, криминал', 139, 8.644],
    ['Харакири', 'Япония', 1962, 'драма, боевик, история', 133, 8.106],
    ['Сталкер', 'СССР', 1979, 'фантастика, драма, детектив', 163, 8.083],
    ['Иди и смотри', 'СССР', 1985, 'драма, военный', 136, 8.094]
]

import pandas as pd

columns = ['movie_name', 'country', 'year', 'genre', 'duration', 'rating'] #сохраняем названия будущих колонок в список

movies_df = pd.DataFrame(data=movies_table, columns=columns) #передаем вложенный список и названия колонок конструктуру dataframe

print(movies_df[movies_df['duration'] > 180])

                            movie_name         country  year  \
3                      Список Шиндлера             США  1993
4  Властелин колец: Возвращение Короля  Новая Зеландия  2003

                         genre  duration  rating
3                        драма       195   8.818
4  фэнтези, приключения, драма       201   8.625

In [47]:
import pandas as pd

columns = ['movie_name', 'country', 'year', 'genre', 'duration', 'rating']

movies_df = pd.DataFrame(data=movies_table, columns=columns)

result = movies_df.loc[4, 'genre']
print(result)

фэнтези, приключения, драма

In [48]:
import pandas as pd

columns = ['movie_name', 'country', 'year', 'genre', 'duration', 'rating']

movies_df = pd.DataFrame(data=movies_table, columns=columns)

result = movies_df.loc[4]
print(result)

movie_name    Властелин колец: Возвращение Короля
country                            Новая Зеландия
year                                         2003
genre                 фэнтези, приключения, драма
duration                                      201
rating                                      8.625
Name: 4, dtype: object

In [49]:
import pandas as pd

columns = ['movie_name', 'country', 'year', 'genre', 'duration', 'rating']

movies_df = pd.DataFrame(data=movies_table, columns=columns)

result = movies_df.loc[2:4]
print(result)

                            movie_name         country  year  \
2                        Тёмный рыцарь             США  2008
3                      Список Шиндлера             США  1993
4  Властелин колец: Возвращение Короля  Новая Зеландия  2003

                         genre  duration  rating
2  фантастика, боевик, триллер       152   8.499
3                        драма       195   8.818
4  фэнтези, приключения, драма       201   8.625

In [50]:
import pandas as pd

columns = ['movie_name', 'country', 'year', 'genre', 'duration', 'rating']

movies_df = pd.DataFrame(data=movies_table, columns=columns)

result = movies_df.loc[2:4, 'country']
print(result)

2               США
3               США
4    Новая Зеландия
Name: country, dtype: object

In [51]:
import pandas as pd

columns = ['movie_name', 'country', 'year', 'genre', 'duration', 'rating']

movies_df = pd.DataFrame(data=movies_table, columns=columns)

result = movies_df.loc[0]
print(result)

movie_name    Побег из Шоушенка
country                     США
year                       1994
genre                     драма
duration                    142
rating                    9.111
Name: 0, dtype: object

In [52]:
import pandas as pd

columns = ['movie_name', 'country', 'year', 'genre', 'duration', 'rating']

movies_df = pd.DataFrame(data=movies_table, columns=columns)

result = movies_df.loc[6:]
print(result)

               movie_name country  year                        genre  \
6   Хороший, плохой, злой  Италия  1966                      вестерн
7         Бойцовский клуб     США  1999     триллер, драма, криминал
8                Харакири  Япония  1962       драма, боевик, история
9                 Сталкер    СССР  1979  фантастика, драма, детектив
10           Иди и смотри    СССР  1985               драма, военный

    duration  rating
6        178   8.521
7        139   8.644
8        133   8.106
9        163   8.083
10       136   8.094

In [67]:
#индексация колонок (столбцов)
import pandas as pd

columns = ['movie_name', 'country', 'year', 'genre', 'duration', 'rating']

movies_df = pd.DataFrame(data=movies_table, columns=columns)

result = movies_df.loc[:,'country']
print(result)

0                США
1                США
2                США
3                США
4     Новая Зеландия
5                США
6             Италия
7                США
8             Япония
9               СССР
10              СССР
Name: country, dtype: object

In [60]:
#индексация колонок (столбцов)
import pandas as pd

columns = ['movie_name', 'country', 'year', 'genre', 'duration', 'rating']

movies_df = pd.DataFrame(data=movies_table, columns=columns)

result = movies_df.loc[:, ['year', 'duration']]
print(result)

    year  duration
0   1994       142
1   1972       175
2   2008       152
3   1993       195
4   2003       201
5   1994       154
6   1966       178
7   1999       139
8   1962       133
9   1979       163
10  1985       136

In [65]:
#индексация колонок (столбцов)
import pandas as pd

columns = ['movie_name', 'country', 'year', 'genre', 'duration', 'rating']

movies_df = pd.DataFrame(data=movies_table, columns=columns)

result = movies_df.loc[:, 'duration' : 'rating']
print(result)

    duration  rating
0        142   9.111
1        175   8.730
2        152   8.499
3        195   8.818
4        201   8.625
5        154   8.619
6        178   8.521
7        139   8.644
8        133   8.106
9        163   8.083
10       136   8.094

In [73]:
table = [
    [0, '-', 'X', '-', 0, 0, 'X', 'X', 'X', 'X'],
    [0, '-', 'X', '-', 0, 0, 0, 0, 0, 0],
    [0, '-', '-', 'X', 0, 0, 0, 0, 0, 0]
]

columns = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'К']

table_df = pd.DataFrame(data=table, columns=columns)
print(table_df)

   А  Б  В  Г  Д  Е  Ж  З  И  К
0  0  -  X  -  0  0  X  X  X  X
1  0  -  X  -  0  0  0  0  0  0
2  0  -  -  X  0  0  0  0  0  0

In [74]:
table = [
    [0, '-', 'X', '-', 0, 0, 'X', 'X', 'X', 'X'],
    [0, '-', 'X', '-', 0, 0, 0, 0, 0, 0],
    [0, '-', '-', 'X', 0, 0, 0, 0, 0, 0]
]

columns = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'К']

table_df = pd.DataFrame(data=table, columns=columns)
table_df

   А  Б  В  Г  Д  Е  Ж  З  И  К
0  0  -  X  -  0  0  X  X  X  X
1  0  -  X  -  0  0  0  0  0  0
2  0  -  -  X  0  0  0  0  0  0

In [75]:
#логическая индексаци

#найдем все строки где в столбце В встречает Х
table_df.loc[table_df.loc[:, 'В'] == 'X']

   А  Б  В  Г  Д  Е  Ж  З  И  К
0  0  -  X  -  0  0  X  X  X  X
1  0  -  X  -  0  0  0  0  0  0

In [77]:
#посчитаем ячейки В со значением Х

print(table_df.loc[table_df.loc[:, 'В'] == 'X']['В'].count())

2

In [78]:
#сокращенная запись

print(table_df[table_df['В'] == 'X']['В'].count())

2

In [91]:
import pandas as pd

df = pd.read_csv('/Users/eugeneinsidious/Downloads/music_project.csv')
print(type(df))

part_df = df[['Track', 'genre']]
print(type(part_df))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [87]:
#обьект Series
part_df = df['Track']
print(type(part_df))

<class 'pandas.core.series.Series'>

In [88]:
#получаем Series из датафрейма
Track = df['Track']

#получаем ячейку из Series по единственной координате
print(Track[0])

Kamigata To Boots

In [102]:
#логическая индексация в Series
Time = df['time']

Time.loc[Time <= '08:00:00']

8115     08:00:00
27892    08:00:00
Name: time, dtype: object

# Предобработка данных

In [2]:
import pandas as pd

In [12]:
measurements = [['Солнце',146,152], #измерения хранятся в списке списков
                ['Луна',0.36, 0.41], # measurements (англ. Измерения)
                ['Меркурий',82, 217],
                ['Венера',38, 261],
                ['Марс',51,401],
                ['Юпитер',588, 968],
                ['Сатурн',1195, 1660],
                ['Уран',2750, 3150],
                ['Нептун', 4300, 4700],
                ['Комета Галлея', 6, 5400]]

#названия столбцов хранятся в переменной header 
header = ['Небесные тела  ','MIN', 'MAX']

#сохраним структуру данных в переменной celestial
celestial = pd.DataFrame(data=measurements, columns=header)
print(celestial)

  Небесные тела        MIN      MAX
0          Солнце   146.00   152.00
1            Луна     0.36     0.41
2        Меркурий    82.00   217.00
3          Венера    38.00   261.00
4            Марс    51.00   401.00
5          Юпитер   588.00   968.00
6          Сатурн  1195.00  1660.00
7            Уран  2750.00  3150.00
8          Нептун  4300.00  4700.00
9   Комета Галлея     6.00  5400.00

In [14]:
print(celestial.columns)

Index(['Небесные тела  ', 'MIN', 'MAX'], dtype='object')

In [17]:
celestial = celestial.rename(columns={'Небесные тела  ':'celestial_bodies', 'MIN':'min_distance', 'MAX':'max_distance'})
print(celestial.columns) #проверим переименования столбцов

Index(['celestial_bodies', 'min_distance', 'max_distance'], dtype='object')

In [15]:
print(df.columns)

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

In [16]:
# переименование столбцов
             
df = df.rename(columns={'  userID':'user_id', 'Track':'track', 'artist':'artist', 'genre':'genre', '  City  ':'city', 'time':'start_time', 'Day':'weekday'})
df.columns

Index(['user_id', 'track', 'artist', 'genre', 'city', 'start_time', 'weekday'], dtype='object')

In [5]:
#поиск пропущенных значений 

import pandas as pd
df = pd.read_csv(r"/Users/eugeneinsidious/Downloads/music_project.csv") #аргумент - путь к файлу

print(df.isna().sum())

  userID       0
Track       1231
artist      7203
genre       1198
  City         0
time           0
Day            0
dtype: int64

In [7]:
#Обработка пропусков 
#заполним значения NaN в столбце Track нулями

df['Track'] = df['Track'].fillna(0)

print(df.isna().sum())

  userID       0
Track          0
artist      7203
genre       1198
  City         0
time           0
Day            0
dtype: int64

In [8]:
#Обработка пропусков
#удаляем строки где встречается хотя бы один пропуск (удаляем строки со значением NaN) метод dropna()
#через параметр subset методу можно передать список столбцов, в которых он должен искать пропуски 

df.dropna(subset = ['artist', 'genre'])

print(df.isna().sum())

  userID       0
Track          0
artist      7203
genre       1198
  City         0
time           0
Day            0
dtype: int64

In [41]:
#Обработка пропусков
#удаляем столбцы (колонки) с пропусками 
df = df.dropna(axis='columns')
print(df.isna().sum())

  userID    0
Track       0
  City      0
time        0
Day         0
dtype: int64

In [65]:
print(df.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
65074    False
65075    False
65076    False
65077    False
65078    False
Length: 65079, dtype: bool

In [9]:
print(df.duplicated().sum())

3826

In [58]:
print(df.iloc[50:75])

      userID                                          Track            City    \
50  3DBEB447                                       Entrance            Moscow
51  107EBCED                               Столько ты не...            Moscow
52  C9EAF7B7                                       Giratina            Moscow
53  CDB46D40                                    Renaissance  Saint-Petersburg
54  3FA9A6A8                                     Inside Out            Moscow
55  FEB69A12                                Show Must Go On  Saint-Petersburg
56  8B14ACB3                                Senses Overload            Moscow
57  E35653A8                                   Yurak Ezilar            Moscow
58  9310281D                                        No Away            Moscow
59  3A64204B                                     Притоптать            Moscow
60  E2F8BE12                                          Banga            Moscow
61  B5496034                                    Jealous Man            Moscow
62   F97CDA4                            Destination Unknown  Saint-Petersburg
63  B82BAF85                                     Ay Gidiyor            Moscow
64  FD21300B  Sometimes You've Got to Take the Hardest Line  Saint-Petersburg
65  DBA2327A                                  Run Bobby Run            Moscow
66  B103C670                            When I Was Your Man  Saint-Petersburg
67  9F93EEC8                                  Believe in Me            Moscow
68  D0CE968E                        Afternoon Tropical Rain            Moscow
69  AF2FEA1F                                       Insecure            Moscow
70  E7A543CA                                       Uplifter            Moscow
71  8217BB5C                                         Easier            Moscow
72  8B9DEC72                  It Sends My Heart into a Spin            Moscow
73  7B7C5AA4                                     Silly Bwoy            Moscow
74  805093B3                           Treat Me Like A Lady            Moscow

        time        Day
50  08:36:27     Monday
51  21:02:57  Wednesday
52  09:48:21     Monday
53  21:29:36     Friday
54  10:00:41     Friday
55  09:00:15     Friday
56  20:02:19     Friday
57  20:07:56     Monday
58  08:06:34     Friday
59  08:32:50     Monday
60  08:45:42     Monday
61  20:23:00     Friday
62  14:43:12     Monday
63  21:12:26  Wednesday
64  09:18:23  Wednesday
65  20:54:37     Friday
66  14:42:11     Monday
67  20:11:44     Friday
68  08:02:02     Friday
69  13:45:57  Wednesday
70  09:29:19     Friday
71  09:37:24     Friday
72  20:48:42     Friday
73  08:36:09     Friday
74  09:39:17  Wednesday

In [10]:
df = df.drop_duplicates().reset_index(drop=True)

In [11]:
print(df.duplicated().sum())

0

In [12]:
#поиск неявных дубликатов 

df_sorted = df.sort_values('genre')

print(df_sorted['genre'].unique())

['acid' 'acoustic' 'action' 'adult' 'africa' 'afrikaans' 'alternative'
 'alternativepunk' 'ambient' 'americana' 'animated' 'anime' 'arabesk'
 'arabic' 'arena' 'argentinetango' 'art' 'audiobook' 'author' 'avantgarde'
 'axé' 'baile' 'balkan' 'beats' 'bigroom' 'black' 'bluegrass' 'blues'
 'bollywood' 'bossa' 'brazilian' 'breakbeat' 'breaks' 'broadway'
 'cantautori' 'cantopop' 'canzone' 'caribbean' 'caucasian' 'celtic'
 'chamber' 'chanson' 'children' 'chill' 'chinese' 'choral' 'christian'
 'christmas' 'classical' 'classicmetal' 'club' 'colombian' 'comedy'
 'conjazz' 'contemporary' 'country' 'cuban' 'dance' 'dancehall' 'dancepop'
 'dark' 'death' 'deep' 'deutschrock' 'deutschspr' 'dirty' 'disco' 'dnb'
 'documentary' 'downbeat' 'downtempo' 'drum' 'dub' 'dubstep' 'eastern'
 'easy' 'electronic' 'electropop' 'emo' 'entehno' 'epicmetal' 'estrada'
 'ethnic' 'eurofolk' 'european' 'experimental' 'extrememetal' 'fado'
 'fairytail' 'film' 'fitness' 'flamenco' 'folk' 'folklore' 'folkmetal'
 'folkrock' 'folktronica' 'forró' 'frankreich' 'französisch' 'french'
 'funk' 'future' 'gangsta' 'garage' 'german' 'ghazal' 'gitarre' 'glitch'
 'gospel' 'gothic' 'grime' 'grunge' 'gypsy' 'handsup' "hard'n'heavy"
 'hardcore' 'hardstyle' 'hardtechno' 'hip' 'hip-hop' 'hiphop' 'historisch'
 'holiday' 'hop' 'horror' 'house' 'hymn' 'idm' 'independent' 'indian'
 'indie' 'indipop' 'industrial' 'inspirational' 'instrumental'
 'international' 'irish' 'jam' 'japanese' 'jazz' 'jewish' 'jpop' 'jungle'
 'k-pop' 'karadeniz' 'karaoke' 'kayokyoku' 'korean' 'laiko' 'latin'
 'latino' 'leftfield' 'local' 'lounge' 'loungeelectronic' 'lovers'
 'malaysian' 'mandopop' 'marschmusik' 'meditative' 'mediterranean'
 'melodic' 'metal' 'metalcore' 'mexican' 'middle' 'minimal'
 'miscellaneous' 'modern' 'mood' 'mpb' 'muslim' 'native' 'neoklassik'
 'neue' 'new' 'newage' 'newwave' 'nu' 'nujazz' 'numetal' 'oceania' 'old'
 'opera' 'orchestral' 'other' 'piano' 'podcasts' 'pop' 'popdance'
 'popelectronic' 'popeurodance' 'poprussian' 'post' 'posthardcore'
 'postrock' 'power' 'progmetal' 'progressive' 'psychedelic' 'punjabi'
 'punk' 'quebecois' 'ragga' 'ram' 'rancheras' 'rap' 'rave' 'reggae'
 'reggaeton' 'regional' 'relax' 'religious' 'retro' 'rhythm' 'rnb' 'rnr'
 'rock' 'rockabilly' 'rockalternative' 'rockindie' 'rockother' 'romance'
 'roots' 'ruspop' 'rusrap' 'rusrock' 'russian' 'salsa' 'samba' 'scenic'
 'schlager' 'self' 'sertanejo' 'shanson' 'shoegazing' 'showtunes' 'singer'
 'ska' 'skarock' 'slow' 'smooth' 'soft' 'soul' 'soulful' 'sound'
 'soundtrack' 'southern' 'specialty' 'speech' 'spiritual' 'sport'
 'stonerrock' 'surf' 'swing' 'synthpop' 'synthrock' 'sängerportrait'
 'tango' 'tanzorchester' 'taraftar' 'tatar' 'tech' 'techno' 'teen'
 'thrash' 'top' 'traditional' 'tradjazz' 'trance' 'tribal' 'trip'
 'triphop' 'tropical' 'türk' 'türkçe' 'ukrrock' 'urban' 'uzbek' 'variété'
 'vi' 'videogame' 'vocal' 'western' 'world' 'worldbeat' 'ïîï'
 'электроника' nan]

In [13]:
#на вход функции подаются список неправильных значений и строка с правильным значением 
def replace_wrong_values(wrong_values, correct_value):
    
    for wrong_value in wrong_values: #перебираем неправильные имена 
        #и для каждого неправильного имени вызываем метод replace()
        df['genre'] = df['genre'].replace(wrong_values, correct_value)
        
duplicates = ['hip', 'hip-hop', 'hop'] #список неправильных имен

name = 'hiphop' #правильное имя 

replace_wrong_values(duplicates, name) #вызов функции, replace () внутри будет вызван 3 раза

df_sorted = df.sort_values('genre')

print(df_sorted['genre'].unique())

['acid' 'acoustic' 'action' 'adult' 'africa' 'afrikaans' 'alternative'
 'alternativepunk' 'ambient' 'americana' 'animated' 'anime' 'arabesk'
 'arabic' 'arena' 'argentinetango' 'art' 'audiobook' 'author' 'avantgarde'
 'axé' 'baile' 'balkan' 'beats' 'bigroom' 'black' 'bluegrass' 'blues'
 'bollywood' 'bossa' 'brazilian' 'breakbeat' 'breaks' 'broadway'
 'cantautori' 'cantopop' 'canzone' 'caribbean' 'caucasian' 'celtic'
 'chamber' 'chanson' 'children' 'chill' 'chinese' 'choral' 'christian'
 'christmas' 'classical' 'classicmetal' 'club' 'colombian' 'comedy'
 'conjazz' 'contemporary' 'country' 'cuban' 'dance' 'dancehall' 'dancepop'
 'dark' 'death' 'deep' 'deutschrock' 'deutschspr' 'dirty' 'disco' 'dnb'
 'documentary' 'downbeat' 'downtempo' 'drum' 'dub' 'dubstep' 'eastern'
 'easy' 'electronic' 'electropop' 'emo' 'entehno' 'epicmetal' 'estrada'
 'ethnic' 'eurofolk' 'european' 'experimental' 'extrememetal' 'fado'
 'fairytail' 'film' 'fitness' 'flamenco' 'folk' 'folklore' 'folkmetal'
 'folkrock' 'folktronica' 'forró' 'frankreich' 'französisch' 'french'
 'funk' 'future' 'gangsta' 'garage' 'german' 'ghazal' 'gitarre' 'glitch'
 'gospel' 'gothic' 'grime' 'grunge' 'gypsy' 'handsup' "hard'n'heavy"
 'hardcore' 'hardstyle' 'hardtechno' 'hiphop' 'historisch' 'holiday'
 'horror' 'house' 'hymn' 'idm' 'independent' 'indian' 'indie' 'indipop'
 'industrial' 'inspirational' 'instrumental' 'international' 'irish' 'jam'
 'japanese' 'jazz' 'jewish' 'jpop' 'jungle' 'k-pop' 'karadeniz' 'karaoke'
 'kayokyoku' 'korean' 'laiko' 'latin' 'latino' 'leftfield' 'local'
 'lounge' 'loungeelectronic' 'lovers' 'malaysian' 'mandopop' 'marschmusik'
 'meditative' 'mediterranean' 'melodic' 'metal' 'metalcore' 'mexican'
 'middle' 'minimal' 'miscellaneous' 'modern' 'mood' 'mpb' 'muslim'
 'native' 'neoklassik' 'neue' 'new' 'newage' 'newwave' 'nu' 'nujazz'
 'numetal' 'oceania' 'old' 'opera' 'orchestral' 'other' 'piano' 'podcasts'
 'pop' 'popdance' 'popelectronic' 'popeurodance' 'poprussian' 'post'
 'posthardcore' 'postrock' 'power' 'progmetal' 'progressive' 'psychedelic'
 'punjabi' 'punk' 'quebecois' 'ragga' 'ram' 'rancheras' 'rap' 'rave'
 'reggae' 'reggaeton' 'regional' 'relax' 'religious' 'retro' 'rhythm'
 'rnb' 'rnr' 'rock' 'rockabilly' 'rockalternative' 'rockindie' 'rockother'
 'romance' 'roots' 'ruspop' 'rusrap' 'rusrock' 'russian' 'salsa' 'samba'
 'scenic' 'schlager' 'self' 'sertanejo' 'shanson' 'shoegazing' 'showtunes'
 'singer' 'ska' 'skarock' 'slow' 'smooth' 'soft' 'soul' 'soulful' 'sound'
 'soundtrack' 'southern' 'specialty' 'speech' 'spiritual' 'sport'
 'stonerrock' 'surf' 'swing' 'synthpop' 'synthrock' 'sängerportrait'
 'tango' 'tanzorchester' 'taraftar' 'tatar' 'tech' 'techno' 'teen'
 'thrash' 'top' 'traditional' 'tradjazz' 'trance' 'tribal' 'trip'
 'triphop' 'tropical' 'türk' 'türkçe' 'ukrrock' 'urban' 'uzbek' 'variété'
 'vi' 'videogame' 'vocal' 'western' 'world' 'worldbeat' 'ïîï'
 'электроника' nan]

In [18]:

def replace_wrong_genres(wrong_genres, correct_genre):
    for wrong_genre in wrong_genres: #перебираем неправильные имена 
        #и для каждого неправильного имени вызываем метод replace()
        df['genre'] = df['genre'].replace(wrong_genres, correct_genre)
        
wrong_genres = ['hip', 'hip-hop', 'hop'] #список неправильных имен

correct_genre = 'hiphop' #правильное имя 

replace_wrong_genres(wrong_genres, correct_genre) #вызов функции, replace () внутри будет вызван 3 раза

df_sorted = df.sort_values('genre')

print(df_sorted['genre'].unique())

['acid' 'acoustic' 'action' 'adult' 'africa' 'afrikaans' 'alternative'
 'alternativepunk' 'ambient' 'americana' 'animated' 'anime' 'arabesk'
 'arabic' 'arena' 'argentinetango' 'art' 'audiobook' 'author' 'avantgarde'
 'axé' 'baile' 'balkan' 'beats' 'bigroom' 'black' 'bluegrass' 'blues'
 'bollywood' 'bossa' 'brazilian' 'breakbeat' 'breaks' 'broadway'
 'cantautori' 'cantopop' 'canzone' 'caribbean' 'caucasian' 'celtic'
 'chamber' 'chanson' 'children' 'chill' 'chinese' 'choral' 'christian'
 'christmas' 'classical' 'classicmetal' 'club' 'colombian' 'comedy'
 'conjazz' 'contemporary' 'country' 'cuban' 'dance' 'dancehall' 'dancepop'
 'dark' 'death' 'deep' 'deutschrock' 'deutschspr' 'dirty' 'disco' 'dnb'
 'documentary' 'downbeat' 'downtempo' 'drum' 'dub' 'dubstep' 'eastern'
 'easy' 'electronic' 'electropop' 'emo' 'entehno' 'epicmetal' 'estrada'
 'ethnic' 'eurofolk' 'european' 'experimental' 'extrememetal' 'fado'
 'fairytail' 'film' 'fitness' 'flamenco' 'folk' 'folklore' 'folkmetal'
 'folkrock' 'folktronica' 'forró' 'frankreich' 'französisch' 'french'
 'funk' 'future' 'gangsta' 'garage' 'german' 'ghazal' 'gitarre' 'glitch'
 'gospel' 'gothic' 'grime' 'grunge' 'gypsy' 'handsup' "hard'n'heavy"
 'hardcore' 'hardstyle' 'hardtechno' 'hiphop' 'historisch' 'holiday'
 'horror' 'house' 'hymn' 'idm' 'independent' 'indian' 'indie' 'indipop'
 'industrial' 'inspirational' 'instrumental' 'international' 'irish' 'jam'
 'japanese' 'jazz' 'jewish' 'jpop' 'jungle' 'k-pop' 'karadeniz' 'karaoke'
 'kayokyoku' 'korean' 'laiko' 'latin' 'latino' 'leftfield' 'local'
 'lounge' 'loungeelectronic' 'lovers' 'malaysian' 'mandopop' 'marschmusik'
 'meditative' 'mediterranean' 'melodic' 'metal' 'metalcore' 'mexican'
 'middle' 'minimal' 'miscellaneous' 'modern' 'mood' 'mpb' 'muslim'
 'native' 'neoklassik' 'neue' 'new' 'newage' 'newwave' 'nu' 'nujazz'
 'numetal' 'oceania' 'old' 'opera' 'orchestral' 'other' 'piano' 'podcasts'
 'pop' 'popdance' 'popelectronic' 'popeurodance' 'poprussian' 'post'
 'posthardcore' 'postrock' 'power' 'progmetal' 'progressive' 'psychedelic'
 'punjabi' 'punk' 'quebecois' 'ragga' 'ram' 'rancheras' 'rap' 'rave'
 'reggae' 'reggaeton' 'regional' 'relax' 'religious' 'retro' 'rhythm'
 'rnb' 'rnr' 'rock' 'rockabilly' 'rockalternative' 'rockindie' 'rockother'
 'romance' 'roots' 'ruspop' 'rusrap' 'rusrock' 'russian' 'salsa' 'samba'
 'scenic' 'schlager' 'self' 'sertanejo' 'shanson' 'shoegazing' 'showtunes'
 'singer' 'ska' 'skarock' 'slow' 'smooth' 'soft' 'soul' 'soulful' 'sound'
 'soundtrack' 'southern' 'specialty' 'speech' 'spiritual' 'sport'
 'stonerrock' 'surf' 'swing' 'synthpop' 'synthrock' 'sängerportrait'
 'tango' 'tanzorchester' 'taraftar' 'tatar' 'tech' 'techno' 'teen'
 'thrash' 'top' 'traditional' 'tradjazz' 'trance' 'tribal' 'trip'
 'triphop' 'tropical' 'türk' 'türkçe' 'ukrrock' 'urban' 'uzbek' 'variété'
 'vi' 'videogame' 'vocal' 'western' 'world' 'worldbeat' 'ïîï'
 'электроника' nan]

In [39]:
#Группировка данных 
#посчитает сгруппирированные по городам число прослушиваний методом count()
print(df.groupby('city').count())  # результат выполнения df.groupby('city').count() это уже новая таблица, датафрейм
print(df.groupby('weekday').count())

                  user_id  track  artist  genre  start_time  weekday
city
Moscow              42741  42741   37986  41892       42741    42741
Saint-Petersburg    18512  18512   16495  18234       18512    18512
           user_id  track  artist  genre   city  start_time
weekday
Friday       21840  21840   19528  21482  21840       21840
Monday       21354  21354   18882  20866  21354       21354
Wednesday    18059  18059   16071  17778  18059       18059

In [40]:
#если нужно сравнить наблюдения по одному показателю, то метод применяют к DataFrameGroupBy с указанием на один столбец
number = df.groupby('city')['weekday'].count()
print(number)

city
Moscow              42741
Saint-Petersburg    18512
Name: weekday, dtype: int64

In [41]:
number = df.groupby('weekday')['city'].sum()
print(number)

weekday
Friday       MoscowSaint-PetersburgMoscowMoscowSaint-Peters...
Monday       Saint-PetersburgMoscowMoscowMoscowMoscowMoscow...
Wednesday    Saint-PetersburgSaint-PetersburgMoscowMoscowSa...
Name: city, dtype: object

In [43]:
def number_tracks(day, city):
    track_list = df.loc[df['weekday'] == day] 
    track_list = track_list[track_list['city'] == city]
    track_list_count = track_list['user_id'].count()
    return track_list_count


# <создание функции number_tracks()>
# Объявляется функция с двумя параметрами: day, city.
# В переменной track_list сохраняются те строки таблицы df, для которых 
# значение в столбце 'day' равно параметру day и одновременно значение
# в столбце 'city' равно параметру city (используйте последовательную фильтрацию
# с помощью логической индексации).
# В переменной track_list_count сохраняется число значений столбца 'user_id',
# рассчитанное методом count() для таблицы track_list.
# Функция возвращает число - значение track_list_count.

# Функция для подсчёта прослушиваний для конкретного города и дня.
# С помощью последовательной фильтрации с логической индексацией она 
# сначала получит из исходной таблицы строки с нужным днём,
# затем из результата отфильтрует строки с нужным городом,
# методом count() посчитает количество значений в колонке user_id. 
# Это количество функция вернёт в качестве результата

In [44]:
number_tracks('Monday', 'Moscow')

15740

In [45]:
number_tracks('Monday', 'Saint-Petersburg')

5614

In [47]:
data = [
    ['Moscow', 15740, 11056, 15945],
    ['Saint-Petersburg', 5614, 7003, 5895],
]

columns = ['city', 'monday', 'wednesday', 'friday']
table = pd.DataFrame(data=data, columns=columns) #создаем таблицу и сохраняем ее в перемнную world
table

               city  monday  wednesday  friday
0            Moscow   15740      11056   15945
1  Saint-Petersburg    5614       7003    5895

In [52]:

moscow_general = df.loc[df['city'] == 'Moscow']
print(moscow_general)

        user_id                          track                   artist  \
1      55204538    Delayed Because of Accident         Andreas Rönnberg
4      E2DC1FAE                    Soul People               Space Echo
6      4CB90AA5                           True             Roman Messer
7      F03E1C1F               Feeling This Way          Polina Griffith
8      8FA1D3BE       И вновь продолжается бой                      NaN
...         ...                            ...                      ...
61247  83A474E7  I Worship Only What You Bleed  The Black Dahlia Murder
61248  729CBB09                        My Name                   McLean
61250  C5E3A0D5                      Jalopiina                      NaN
61251  321D0506                  Freight Train            Chas McDevitt
61252  3A64EF84      Tell Me Sweet Little Lies             Monica Lopez

              genre    city start_time    weekday
1              rock  Moscow   14:07:09     Friday
4             dance  Moscow   08:34:34     Monday
6             dance  Moscow   13:00:07  Wednesday
7             dance  Moscow   20:47:49  Wednesday
8            ruspop  Moscow   09:17:40     Friday
...             ...     ...        ...        ...
61247  extrememetal  Moscow   21:07:12     Monday
61248           rnb  Moscow   13:32:28  Wednesday
61250    industrial  Moscow   20:09:26     Friday
61251          rock  Moscow   21:43:59     Friday
61252       country  Moscow   21:59:46     Friday

[42741 rows x 7 columns]

In [54]:
moscow_general = df[df['city'] == 'Moscow'] #сокращенная запись при индексации (атрибут loc сокращен)
print(moscow_general)

        user_id                          track                   artist  \
1      55204538    Delayed Because of Accident         Andreas Rönnberg
4      E2DC1FAE                    Soul People               Space Echo
6      4CB90AA5                           True             Roman Messer
7      F03E1C1F               Feeling This Way          Polina Griffith
8      8FA1D3BE       И вновь продолжается бой                      NaN
...         ...                            ...                      ...
61247  83A474E7  I Worship Only What You Bleed  The Black Dahlia Murder
61248  729CBB09                        My Name                   McLean
61250  C5E3A0D5                      Jalopiina                      NaN
61251  321D0506                  Freight Train            Chas McDevitt
61252  3A64EF84      Tell Me Sweet Little Lies             Monica Lopez

              genre    city start_time    weekday
1              rock  Moscow   14:07:09     Friday
4             dance  Moscow   08:34:34     Monday
6             dance  Moscow   13:00:07  Wednesday
7             dance  Moscow   20:47:49  Wednesday
8            ruspop  Moscow   09:17:40     Friday
...             ...     ...        ...        ...
61247  extrememetal  Moscow   21:07:12     Monday
61248           rnb  Moscow   13:32:28  Wednesday
61250    industrial  Moscow   20:09:26     Friday
61251          rock  Moscow   21:43:59     Friday
61252       country  Moscow   21:59:46     Friday

[42741 rows x 7 columns]

In [55]:
#индексация по координатам
df.loc[4,'genre'] #[4 - это номер строки, 'genre' - название столбца]

'dance'

In [56]:
result = df.loc[5,'genre']
print(result)

rusrap

In [57]:
#одна строка
df.loc[4]

user_id          E2DC1FAE
track         Soul People
artist         Space Echo
genre               dance
city               Moscow
start_time       08:34:34
weekday            Monday
Name: 4, dtype: object

In [58]:
#срез строк
df.loc[4:6]

,user_id,track,artist,genre,city,start_time,weekday
4,E2DC1FAE,Soul People,Space Echo,dance,Moscow,08:34:34,Monday
5,842029A1,Преданная,IMPERVTOR,rusrap,Saint-Petersburg,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Moscow,13:00:07,Wednesday

In [59]:
#срез строк от заданной и до конца
df.loc[61248:]

,user_id,track,artist,genre,city,start_time,weekday
61248,729CBB09,My Name,McLean,rnb,Moscow,13:32:28,Wednesday
61249,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hiphop,Saint-Petersburg,10:00:00,Monday
61250,C5E3A0D5,Jalopiina,NaN,industrial,Moscow,20:09:26,Friday
61251,321D0506,Freight Train,Chas McDevitt,rock,Moscow,21:43:59,Friday
61252,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Moscow,21:59:46,Friday