**Задание 1**

Сохраните в переменной **name_predmet** любую вашу дисциплину


Напечатайте на экран длину содержимого переменной.

In [6]:
name_predmet = 'Основы аналитики данных'
print(len(name_predmet))

23

**Задание 2**

Сохраните 5-10 дисциплин в переменную в виде многострочной строки.

Выведите содержимое переменной на экран.

In [5]:
name_predmet = '''Математика
Физика
Химия
Информатика
История
Литература
Английский язык
Экономика
Биология
География'''

print(name_predmet)

Математика
Физика
Химия
Информатика
История
Литература
Английский язык
Экономика
Биология
География

**Задание 3**

С помощью неотрицательного индекса выведите на экран символ **д** из строки в переменной name_predmet

In [7]:
name_predmet = 'Основы аналитики данных'

index = name_predmet[17]
print(index)

д

**Задание 4**

С помощью отрицательного индекса выведите на экран символ **а** из слова **данных** в переменной name_predmet

In [9]:
name_predmet = 'Основы аналитики данных'

index = name_predmet[-5]
print(index)

а

**Задание 5**

Переменная name_predmet хранит строку аналитика. С помощью среза выведите на экран подстроку со словом **тик**.

In [11]:
name_predmet = 'Аналитика'

index = name_predmet[5:8]
print(index)

тик

**Задание 6**

Получите подстроку из 7 первых символов строки name_predmet и выведите её на экран.

In [35]:
name_predmet = 'Основы аналитики данных'

index = name_predmet[:7]
print(index)

#А можно ли вот так делать???
print(name_predmet[:7])

Основы
Основы

**Задание 7**

Выведите на экран 10 строчек с названием любого вашего предмета.

Каждый раз эта фраза должна появляться с новой строки.

In [25]:
print('Математика\n' * 10)

Математика
Математика
Математика
Математика
Математика
Математика
Математика
Математика
Математика
Математика

**Задание 8**

Преобразуйте строку из переменной name_predmet к нижнему и верхнему регистру. 

После этого выведите значения на экран

In [26]:
name_predmet = 'ОсНоВы АнАлИтики данных'

lower_predmet = name_predmet.lower()
upper_predmet = name_predmet.upper()

print(lower_predmet)
print(upper_predmet)

основы аналитики данных
ОСНОВЫ АНАЛИТИКИ ДАННЫХ

**Задание 9**

Запишите в список 5 ваших предметов. Результат сохраните в переменную **name_predmet_5** и выведите на экран её содержимое.

In [29]:
name_predmet_5 = ['Математика', 'Физика', 'Химия', 'Информатика', 'История']

print(name_predmet_5)

['Математика', 'Физика', 'Химия', 'Информатика', 'История']

**Задание 10**

В переменную name_predmet записаны предметы. Выведите на экран третий предмет

In [33]:
name_predmet = ['Основы аналитики данных', 'Экономика', 'Финансы',
                'Налоги', 'Мировая экономика', 'Бухгалтерский учет',]

print(name_predmet[2])

Финансы

**Задание 11**

В переменную name_predmet записаны предметы. Выведите на экран срез предметов со 2 по 4 предмет

In [37]:
name_predmet = ['Основы аналитики данных', 'Экономика', 'Финансы',
                'Налоги', 'Мировая экономика', 'Бухгалтерский учет',]

print(name_predmet[1:4])

['Экономика', 'Финансы', 'Налоги']

**Задание 12**

В переменную name_predmet добавьте еще один предмет.

Выведите на экран старый список и новый список

In [39]:
name_predmet = ['Основы аналитики данных', 'Экономика', 'Финансы',
                'Налоги', 'Мировая экономика', 'Бухгалтерский учет',]

print(name_predmet)
name_predmet.append('Математика')
print(name_predmet)

['Основы аналитики данных', 'Экономика', 'Финансы', 'Налоги', 'Мировая экономика', 'Бухгалтерский учет']
['Основы аналитики данных', 'Экономика', 'Финансы', 'Налоги', 'Мировая экономика', 'Бухгалтерский учет', 'Математика']

**Задание 13**

Сложите два списка и запишите в новую переменную

In [42]:
name_predmet = ['Основы аналитики данных', 'Экономика', 'Финансы',
                'Налоги', 'Мировая экономика', 'Бухгалтерский учет',]

group_name = [8911, 8918, 8031, 8938, 8936, 8924]

new_list = (name_predmet + group_name)
print(new_list)

#не уверенна, что сделала это правильно

['Основы аналитики данных', 'Экономика', 'Финансы', 'Налоги', 'Мировая экономика', 'Бухгалтерский учет', 8911, 8918, 8031, 8938, 8936, 8924]

**Задание 14**


Вызовите метод sort(), чтобы отсортировать список из переменной **group_name** по возрастанию. 

Выведите результат на экран.

In [43]:
group_name = [8911, 8918, 8031, 8938, 8936, 8924]

group_name.sort()
print(group_name)

[8031, 8911, 8918, 8924, 8936, 8938]

**Задание 15**

С помощью метода index() найдите номер элемента списка name_predmet c названием Мировая экономика. 


Сохраните индекс в переменной name_ind и выведите её на экран.

In [49]:
name_predmet = ['Основы аналитики данных', 'Экономика', 'Финансы',
                'Налоги', 'Мировая экономика', 'Бухгалтерский учет',]

name_ind = name_predmet.index('Мировая экономика')
print(name_ind)

4

**Задание 16**

Разбейте строку name_predmet на список предметов. Разделителем служит символ # . 

Сохраните результат в переменной new_name_predmet.

In [51]:
name_predmet = 'Экономика#Финансы#Налоги'

new_name_predmet = name_predmet.split('#')
print(new_name_predmet)

['Экономика', 'Финансы', 'Налоги']