In [3]:
#8. Чтобы преобразовать значение переменной из типа str в тип float, можно воспользоваться функцией float(). Вот пример:

my_str = "3.14"
my_str = float(my_str)

print(type(my_str))

<class 'float'>